.menu {
  padding: 0 0 0 10px;
  margin: 0;
  list-style: none;
  &__item + &__item {
    margin-top: 15px;
  }
  .link {
    display: block;
    text-transform: uppercase;
    padding: 10px 0;
    position: relative;
    transition: all 0.3s;
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 0px;
      background: rgba(0,0,0,1);
      background: -moz-linear-gradient(left, rgba(0,0,0,1) 44%, rgba(179,179,179,1) 81%, rgba(189,189,189,1) 83%, rgba(255,255,255,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(44%, rgba(0,0,0,1)), color-stop(81%, rgba(179,179,179,1)), color-stop(83%, rgba(189,189,189,1)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(left, rgba(0,0,0,1) 44%, rgba(179,179,179,1) 81%, rgba(189,189,189,1) 83%, rgba(255,255,255,1) 100%);
      background: -o-linear-gradient(left, rgba(0,0,0,1) 44%, rgba(179,179,179,1) 81%, rgba(189,189,189,1) 83%, rgba(255,255,255,1) 100%);
      background: -ms-linear-gradient(left, rgba(0,0,0,1) 44%, rgba(179,179,179,1) 81%, rgba(189,189,189,1) 83%, rgba(255,255,255,1) 100%);
      background: linear-gradient(to right, rgba(0,0,0,1) 44%, rgba(179,179,179,1) 81%, rgba(189,189,189,1) 83%, rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
      position: absolute;
      top: 17px;
      left: 0;
      transition: all 0.3s;
    }
    &:hover {
      padding-left: 25px;
      font-weight: 700;
      &::before {
        width: 20px;
      }
    }
  }
}