.product {
  text-align: center;
  background: #f6f6f6;
  position: relative;
  padding: 15px 10px;
  &__cart {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    &:hover {
      color: #fff;
      background: #000;
    }
    &:focus {
      outline: none;
    }
  }
  &__like {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border: 0;
    background: transparent;
    cursor: pointer;
    top: 10px;
    left: 10px;
    position: absolute;
    padding: 0;
    font-size: 17px;
  }
  &__name {
    padding: 0px 35px;
    display: block;
  }
}
.price {
  &__discount {
    font-size: 12px;
    position: relative;
    margin-right: 7px;
    &:before {
      content: "";
      width: 110%;
      border-top: 1px solid #777;
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}